
# Weight files
bin/

# Input files
inputs/*

# Output giles
outputs/*

# Built cython files
darkflow/cython_utils/*.pyd
darkflow/cython_utils/*.c

#egg-info
darkflow.egg-info/

#Other build stuff
build/
